# 设置字符编码为UTF-8
AddDefaultCharset UTF-8
AddCharset UTF-8 .html
AddCharset UTF-8 .css
AddCharset UTF-8 .js

# 设置MIME类型
<IfModule mod_mime.c>
    AddType text/html .html
    AddType text/css .css
    AddType application/javascript .js
</IfModule>

# 强制UTF-8编码
<IfModule mod_headers.c>
    Header always set Content-Type "text/html; charset=UTF-8"
    <FilesMatch "\.(css)$">
        Header set Content-Type "text/css; charset=UTF-8"
    </FilesMatch>
    <FilesMatch "\.(js)$">
        Header set Content-Type "application/javascript; charset=UTF-8"
    </FilesMatch>
</IfModule>